#users>.user-36{
	background: -webkit-linear-gradient(20deg, rgb(253, 18, 135)10%, rgb(162, 67, 221)30%, rgb(17, 9, 178)50%	 );
	font-weight: bold;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #16a82c;
}